{% extends "base.html" %}

{% block content %}
<div class="flex justify-center">
    <div class="w-full max-w-lg bg-white p-8 rounded-2xl shadow-lg">
        
        <!-- Logo Adicionado -->
        <div class="w-full max-w-xs mx-auto mb-6">
            <img src="{{ url_for('static', filename='images/mch_logo_full.jpg') }}" alt="Logo Micachurras MCH">
        </div>
        
        <h2 class="text-3xl font-bold text-center text-mch-dark mb-6">Login</h2>
        
        <form action="{{ url_for('auth.login') }}" method="POST" novalidate>
            {{ form.hidden_tag() }}
            
            <!-- Campo de Email -->
            <div class="mb-4">
                {{ form.email.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                {{ form.email(class="shadow-sm appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:ring-2 focus:ring-mch-primary", placeholder="seuemail@dominio.com") }}
                {% for error in form.email.errors %}
                    <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <!-- Campo de Senha -->
            <div class="mb-6">
                {{ form.password.label(class="block text-gray-700 text-sm font-bold mb-2") }}
                {{ form.password(class="shadow-sm appearance-none border rounded-lg w-full py-3 px-4 text-gray-700 mb-3 leading-tight focus:outline-none focus:ring-2 focus:ring-mch-primary", placeholder="******************") }}
                {% for error in form.password.errors %}
                    <p class="text-red-500 text-xs italic mt-1">{{ error }}</p>
                {% endfor %}
            </div>

            <!-- Lembrar-me -->
            <div class="mb-6 flex items-center justify-between">
                <div class="flex items-center">
                    {{ form.remember_me(class="h-4 w-4 text-mch-primary focus:ring-mch-primary border-gray-300 rounded") }}
                    {{ form.remember_me.label(class="ml-2 block text-sm text-gray-900") }}
                </div>
                <!-- <a href="#" class="inline-block align-baseline font-bold text-sm text-mch-primary hover:text-mch-accent">Esqueceu a senha?</a> -->
            </div>

            <!-- Botão de Submit -->
            <div class="flex flex-col items-center">
                {{ form.submit(class="w-full bg-mch-primary hover:bg-mch-dark text-white font-bold py-3 px-4 rounded-lg focus:outline-none focus:shadow-outline transition duration-300 cursor-pointer") }}
                <p class="text-sm text-gray-600 mt-4">
                    Não tem uma conta? 
                    <a href="{{ url_for('auth.register') }}" class="font-bold text-mch-primary hover:text-mch-accent">
                        Registre-se aqui
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>
{% endblock %}

